<style>
    body {
        background-color: #f4f4f4;
        padding-top: 10vh; /* padding for navbar */
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .carousel .carousel-item{
        height: 100%;
        padding-left: 80px;
        padding-right: 40px;
    }
    .carousel-item .img{
        z-index: 1;
        object-fit: cover;
        top:0;
        left:0;
        height:80%;
    }

    #white{
        z-index:20;
        position: absolute;
        color: white;
        left:10%;
        bottom:10%;
    }
    #black{
        z-index:20;
        position: absolute;
        color: black;
        left:10%;
        top:10%;
    }

    .carousel-control-next,
    .carousel-control-prev{
        position: fixed;
        filter: invert(100%);
        transform: translateY(235px);
        width: -40px;
    }


    .col-md-6 {
        display: flex;
        align-items: center;
        margin-right: -65px;
    }

    .col-md-6 img {
        margin-right: auto;
        max-width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .carousel-indicators {
    position: fixed;
    bottom: 60px;
    align-items: center;
    transform: translateX(185px);
    z-index: 1000; /* Ensure it's above other content */
    background-color: rgba(40, 38, 38, 0.5);
    padding: 10px;
    border-radius: 10px;
    max-width: 40%;
}

</style>

<div class="carousel slide" id="about-page">
    
    <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-item-1">
            <div class="card">
                <div class="card-body">
                    <h2>About TuneSign</h2>
                    <p>Welcome to TuneSign! We're passionate about connecting music lovers with their astrological signs. Whether you're a fiery Aries rocking out to heavy metal or a dreamy Pisces drifting away to ambient tunes, TuneSign helps you discover your musical zodiac match.</p>
                    <p>Our algorithm analyzes your music preferences and personality traits to recommend the perfect zodiac sign that resonates with your vibe. Unlock the secrets of the stars through your favorite tunes with TuneSign!</p>

                    {{#if user}}
                        <a href="/home">Get Started</a>
                    {{else}}
                        <a href="/login">Get Started</a>
                    {{/if}}

                    <form action="/getTop5Tracks" method="GET">
                        <button type="submit">Click me</button>
                    </form>
                    <form action="/loginwithspotify" method="GET">
                        <div class="my-3">
                            <button type="submit" class="btn btn-success">Login with Spotify</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img src="../../resources/img/zodiac/Sagittarius.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sagittarius</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Scorpio.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Scorpio</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Taurus.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Taurus</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Virgo.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Virgo</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Leo.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Leo</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Libra.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Libra</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Gemini.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gemini</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Pisces.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pisces</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Aries.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aries</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Cancer.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cancer</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Capricorn.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Capricorn</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Aquarius.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aquarius</h5>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="carousel-indicators" id="carousel-bottom-indicators">
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="5"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="6"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="7"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="8"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="9"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="10"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="11"></button>
        <button type="button" data-bs-target="#about-page" data-bs-slide-to="12"></button>
    </div>

    <button id="carousel-prev" class="carousel-control-prev" type="button" data-bs-target="#about-page" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button id="carousel-next" class="carousel-control-next" type="button" data-bs-target="#about-page" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <div class="card-header">

</div>